- value = Attrib.get(attrib.name, obj) || 'juno'
- releases = {"Icehouse (Spring 2014)"=>'icehouse', "Juno (Fall 2014)"=>'juno'}
= form_for :attrib, :remote => true, :url => attribs_api_path(:id=>attrib.id, obj_type=>obj.id, :version=>'v2'), :html => { :method=>:put, :'data-type' => 'html',  :class => "formtastic" } do |f|
  %tr
    %td= link_to attrib.name_i18n, attrib_path(attrib.id), :title=>attrib.description
    - if editable
      %td
        = f.select :value, releases, :selected=>value
      %td{:align=>"right"}
        %input.button{:type => "submit", :name => "save", :value => t('save')}
    -else
      - if value
        %td= value
      - else
        %td= t('not_set')
      %td= ''
    - if current_user and current_user.settings(:ui).debug
      %td= attrib.ui_renderer rescue Attrib::UI_RENDERER

